---
import './Hamburger.css';
---
<!--Mobile Nav Toggle-->
<button class="hamburger-toggle" aria-label="mobile menu toggle">
    <div class="hamburger-box" aria-hidden="true">
        <span class="hamburger-line hamburger-line1" aria-hidden="true"></span>
        <span class="hamburger-line hamburger-line2" aria-hidden="true"></span>
        <span class="hamburger-line hamburger-line3" aria-hidden="true"></span>
    </div>
</button>