---
import "./OurStory.css";
---

<section id="our-story" class="section container">
    <h2>Our Story</h2>
    <p>
        <span>I</span> am Jessie Abrahamson and I started right here in Oak Harbor
        WA working for David and Nadya Flynn back in 1998. They owned Gyros R Us
        Cafe, which then became Flynn's Greek House, and before I took over the business
        - Nadyas Greek Cuisine. I went out with them at all the festivals, then ultimately
        I decided to buy my first food truck in 2006. I have been running the food
        truck ever since.

        <br /><br />But in 2018 Nadya announced to me she was retiring from the
        business and we talked about taking it over for her - after all, I have
        been with her since the beginning so who'd be better?!. So in January
        2019 me and my partner Chris officially bought the restaurant I grew up
        working in and moved the name from the food truck to the new location.
        That's how AB's Hillbilly Gyros came to Oak Harbor.
    </p>
    <a href="/about/" class="button-transparent our-story-button">About Us</button>
</section>
