---
---

<div class="logoContainer">
    <a href="" class="nav-logo" aria-label="back to home">
    <img src="https://d33wubrfki0l68.cloudfront.net/5cae26726021b6f6e62e6e455b0fa9a0786b2991/5dcc8/images/vertical-logo.png" alt="Gyros Logo" width="132" height="50" alt="logo"
    width="240"
    height="60"
    aria-hidden="true"
    decoding="async" />
    </a>
</div>

<style>
    /* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {   
    .nav-logo {
      width: 70%;
      max-width: 9.125rem;
      height: 100%;
      margin: 0 auto 0 0;
      padding: 0;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .nav-logo img {
      width: 100%;
      height: 100%;
      /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
      object-fit: contain;
      /* places the image to the left edge of the parent */
      object-position: left;
    }
}

@media only screen and (min-width: 64rem) {
    .nav-logo {
      width: 18.4%;
      max-width: 21.875rem;
      height: 4.0625rem;
      /* margin-right auto pushes everything away from it to the right */
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
    }
    .nav-logo img {
      width: 100%;
      height: 100%;
      /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
      object-fit: contain;
    }
}

</style>