---
import "./OurPromise.css";
---

<section id="ourpromise" class="container section">
    <img
        class="greek"
        aria-hidden="true"
        src="https://d33wubrfki0l68.cloudfront.net/7335c3d0649b24d7a1e9a611c05b80818a39a89c/9ddae/images/most-faded-greek-design.png"
        alt=""
    />
    <img
        class="ourpromise-img"
        src="https://d33wubrfki0l68.cloudfront.net/44312cf0f1cae49a60b3840f3b74cada9753f259/ca659/images/gyro-2.jpg"
        alt="Our Promise Img"
        width="200"
        height="200"
    />
    <h2 class="ourpromise-title">Our Promise</h2>
    <div aria-hidden="true" class="promise-line"></div>
    <p class="ourpromise-text">
        We guarantee a quality meal every time. If for any reason you feel like
        your order was not up to your standards or something was wrong, please
        let us know and we will immediately replace your order at no cost, or
        give you your money back. We don't want anyone to pay for something they
        aren't happy with.
    </p>
    <div class="signature-container">
        <img
            class="signature"
            src="https://d33wubrfki0l68.cloudfront.net/6e8e91a6c71ed6127a9ae3ceaff200fd7a48524f/53cf7/images/signature.png"
            alt="owner jessie abrahamson signature"
            width="200"
            height="94"
        />
    </div>
    <div class="ourpromise-button-container">
        <a href="/about/" class="button-transparent ourpromise-button"
            >About Hillbilly Gyros</a
        >
    </div>
</section>
