/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #ourpromise {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .greek {
        position: absolute;
        top: 2rem;
        right: -100px;
        z-index: -1;
    }

    .ourpromise-img {
        width: 100%;
        height: auto;
    }

    .ourpromise-title {
        font-family: 'Slackey', cursive;
        font-size: 2.4rem;
        width: 100%;
        margin-top: 1.5rem;
        text-align: left;
    }

    .promise-line {
        width: 100%;
        height: 0.25rem;
        margin-bottom: 2rem;
        background-color: var(--primary);
    }

    .signature-container {
        width: 100%;
        margin-top: 2rem;
    }

    .signature {
        width: 60%;
    }

    .ourpromise-button-container {
        width: 100%;
    }

    .ourpromise-button {
        width: 70% !important;
    }
}