---
import './Contact.css';
import DesignTop from '../DesignTop.astro';
import DesignBottom from '../DesignBottom.astro';
---
<section id="contact" class="section">
    <DesignTop />
    <div aria-hidden="true" class="menu-strip-dark"></div>
    <h2>Give Us a Call!</h2>
    <p>We're ready to take your order anytime, and let us know if you have any questions.</p>
    <div class="button-container">
        <button class="button-solid">Contact AB's</button>
    </div>
    <DesignBottom />
</section>