---
import DesignBottom from "../DesignBottom.astro";
import "./History.css";
---

<section id="history" class="container section">
    <img
        class="faded-img"
        src="https://d33wubrfki0l68.cloudfront.net/f3b66f863c29295f7c7b7580b293119d7ed278ec/9c98e/images/faded-greek-design.png"
        alt=""
    />
    <img
        class="front-door"
        src="https://d33wubrfki0l68.cloudfront.net/61b189e9832c46e3efa18a08751be6fd4eef78cb/38a52/images/outside-sign.jpg"
        alt="Front Door"
        width="400px"
    />
    <div class="history-content">
        <span>AB'S HILLBILLY GYROS</span>
        <h2>Established Oak Harbor location in 2019</h2>
        <div class="history-line"></div>
        <p>
            We are a family owned and operated business since 2006 serving only
            the best gyros for the best customers.
            <br /><br />
            We understand when a local business that everyone knew and loved gets
            bought by knew owners and establishes a new company that there might
            be some doubt over whether the new company will be as good as the old
            one. I have worked with Nadya since they opened and I can assure you
            the business that was here before is still here now - just a new name.
            Give us a chance to show you just how good we can be.
        </p>
        <a
            href="/menu/"
            class="button-transparent"
        >
            View Menu
        </a>
    </div>
    <DesignBottom />
</section>
