---
import Header from "../components/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import SubLanding from "../components/SubLanding/SubLanding.astro";
import Contact from '../components/Contact/Contact.astro';
const {pageTitle} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle} | Gyros</title>
    </head>
    <body>
		<!-- ============================================ -->
		<!-- ============     HEADER     ================ -->
		<!-- ============================================ -->
		<Header />
        <slot />
        <!-- ============================================ -->
		<!-- ============    CONTACT     ================ -->
		<!-- ============================================ -->
		<Contact />
		<!-- ============================================ -->
		<!-- ============     FOOTER     ================ -->
		<!-- ============================================ -->
		<Footer />
    </body>
</html>
