---
import './MenuStrip.css';
import Wave from '../Wave.astro';
---
<section id="menu-strip" class="section">
    <Wave />
    <div aria-hidden="true" class="menu-strip-dark"></div>
    <h2 class="container">See Full Menu</h2>
    <div class="button-container">
        <a href="/menu/" class="button-transparent">View Menu</button>
    </div>
</section>